html {
    position: relative;
    min-height: 100%;
}

body {
    /* room for footer */
    margin: 0 0 140px;
}

/* fonts */

.be-vietnam {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.battambang {
    font-family: "Battambang", system-ui;
    font-weight: 700;
    font-style: normal;
}

/* Button.js */

.button {
    padding: 7px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    background-color: #F4D06F;
}

.button:hover {
    background-color: #ebc765;
}

.button:active {
    background-color: #e5c15e;
}

.button:disabled {
    background-color: #9c9787;
}

.button.danger {
    background-color: #FF715B;
}

.button.danger:hover {
    background-color: #f4634d;
}

.button.danger:active {
    background-color: #ec5b45;
}

/* CheckboxInput.js */

.custom-checkbox {
    display: block;
    position: relative;
    padding: 2px 32px 5px;
    margin: 5px 0 14px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkmark/box */
.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 3px solid #ff715bce;
}

/* When the checkbox is checked */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #FF715B; /* Red background */
    border-color: #FF715B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* DropdownInput.js, TextAreaInput.js, TextInput.js */

.dropdown-input,
.text-area-input,
.text-input {
    display: flex;
    flex-direction: column;
}

.dropdown-input label,
.text-area-input label,
.text-input label {
    margin: 0 3px 5px;
    font-size: 14px;
}

.dropdown-input select,
.text-area-input textarea,
.text-input input {
    margin-bottom: 15px;
    padding: 5px 14px;
    border: 2px solid #7D7D7D;
    border-radius: 30px;
    font-size: 14px;
}

.dropdown-input select:hover,
.text-area-input textarea:focus,
.text-input input:focus {
    outline: none;
    border-color: #7DD2AE;
}

.dropdown-input select:invalid,
.text-area-input textarea:invalid,
.text-input input:invalid {
    border-color: #FF715B;
}

.dropdown-input select:hover {
    cursor: pointer;
}

.dropdown-input select:focus {
    outline: none;
}

.text-area-input {
    width: 306.2px !important; 
}

.text-area-input textarea {
    resize: vertical;
    height: 55px;
    min-height: 18px;
    padding: 8px 10px;
    border-radius: 10px;
}

#showPassword {
    margin-left: -45px;
    padding: 3px 0 3px 6px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: #7DD2AE;
    background-color: white;
}

/* Footer.js */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #4C5454;
}

.footer .center {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.footer .center h2 {
    margin: 15px 0 10px;
}

.footer .center p, .footer .center a {
    margin: 0;
    font-size: 10px;
}

.footer .left {
    grid-column: 1;
    grid-row: 2;
    text-align: start;
}

.footer .right {
    grid-column: 3;
    grid-row: 2;
    text-align: end;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer ul {
    list-style-type: none;
    margin: 0 0 15px;
    padding: 0 20px;
}

.footer li {
    display: inline-block;
    margin: 0 15px;
    font-size: 12px;
}

/* Header.js */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 20px 0 0;
}

.header img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.header h1 {
    font-size: 26px;
    margin: 0;
    padding: 6px 5px 0;
    cursor: pointer;
}

/* Navbar1.js */

.navbar1 .selected {
    font-weight: bold;
}

/* Navbar2.js */

.navbar2 nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
}

.navbar2 a {
    color: rgba(0, 0, 0, 0.6);
}

.navbar2 a:hover, .navbar2 .selected {
    color: black;
}

.navbar2 .main-links {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

.navbar2 .main-links a {
    font-weight: bold;
    text-decoration: none;
}

.navbar2 .main-links a:hover, .navbar2 .main-links .selected {
    border-bottom: 3.5px solid #7DD2AE;
}

.navbar2 .dropdown-button {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar2 .dropdown-button:hover {
    color: #7DD2AE;
}

.navbar2 .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 123px;
    right: 4px;
    z-index: 1;
    border-radius: 10px;
    background-color: #ececec;
}

.navbar2 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    border-radius: 10px;
    text-decoration: none;
}

.navbar2 .dropdown-content a:hover {
    color: white;
    background-color: #7DD2AE;
}

.navbar2 .dropdown-content a:first-child {
    border-radius: 10px 10px 0 0;
}

.navbar2 .dropdown-content a:last-child {
    border-radius: 0 0 10px 10px;
}

.navbar2 .show {
    display: flex;
}

.navbar2 hr {
    margin: 0;
    border-top: 1.5px solid rgba(0, 0, 0, 0.6);
}

/* Navigation.js */

.navigation {
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin: 50px auto;
    padding-bottom: 50px;
}

/* ProgressBar.js */

.progress-bar {
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin: 0 auto 50px;
    padding: 15px
}

.progress-bar div {
    width: 20px;
    height: 4px;
    border-radius: 10px;
    background-color: #7dd2af6e;
}

.progress-bar .completed {
    background-color: #7DD2AE;
}

/* RadioInput.js */

.radio-input {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.radio-input div, .radio-input input, .radio-input label {
    cursor: pointer;
}

/* Radio Styling */
/* The radio container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hides the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Creates a custom radio button */
  .radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 3px solid #ff715bce;
  }
  
  
  /* When the radio button is checked, add a red background */
  .radio-container input:checked ~ .radio-checkmark {
    background-color: #FF715B;
    border-color: #FF715B;
    
  }
  
  /* Creates the indicator (the dot/circle - hidden when not checked) */
  .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Shows the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .radio-checkmark:after {
    display: block;
  }
  
  /* Styles the indicator (dot/circle) */
  .radio-container .radio-checkmark:after {
       top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: white;
  }

/* SliderInput.js */

.slider-input {
    width: 300px;
}

.slider-input .title {
    text-align: center;
}

.slider-input input {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 8px;
    background: #ff715b4c;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.slider-input input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%; 
    background: #FF715B;
    cursor: pointer;
}

.slider-input input::-moz-range-thumb {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #FF715B;
    cursor: pointer;
}

.slider-input .labels {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    font-size: 12px;
}

/* MatchesView.js */

#matchesView {
    padding: 50px 20%;
}

#matchesView .hidden {
    display: none !important;
}

#matchesView #noMatches {
    text-align: center;
}

#matchesView #listView {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

#matchesView #listView .user {
    display: grid;
    grid-template-columns: 160px auto;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #F4D06F;
    cursor: pointer;
}

#matchesView #listView .user:hover,
#matchesView #listView .selected {
    background-color: #F4D06F;
}

#matchesView #listView .user:active {
    background-color: #e5c15e;
}

#matchesView #listView img {
    width: 150px;
    border: 5px solid white;
    border-radius: 50%;
    margin: auto;
}

#matchesView #listView .bio {
    margin: auto;
}

#matchesView #listView h2 {
    margin: 0 0 5px;
}

#matchesView #listView h3 {
    margin: 0;
    font-size: 18px;
}

#matchesView #listView p {
    margin: 10px 0 0;
    word-break: break-all;
    font-size: 14px;
}

#matchesView .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#matchesView #profileView #toMatchesBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px
}

#matchesView #profileView #toMatchesBtn i {
    margin-right: 5px;
}

#matchesView .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#matchesView .contact span {
    font-size: 18px;
}

#matchesView .contact a {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: #FF715B;
}

#matchesView .contact a i {
    margin-right: 3px;
}

#matchesView #unmatchBtn {
    height: 40px;
}

/* SettingsView.js */

#settingsView {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 1100px;
}

#settingsView h2 {
    margin: 0 0 40px;
    text-align: center;
    font-size: 28px;
}

#settingsView h3 {
    margin-bottom: 30px;
    text-align: center;
}

#settingsView p {
    font-size: 14px;
    margin-top: 0;
}

#settingsView .section {
    margin: 0 0 100px 45px;
}

#settingsView .subgroup {
    display: flex;
    justify-content: space-between;
    width: 306.2px;
}

#settingsView #credentials {
    display: flex;
    justify-content: center;
}

#settingsView #credentials .text-input {
    margin: 0 20px;
}

#settingsView #profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
}

#settingsView #profile .text-area-input {
    grid-column: 1 / 3;
}

#settingsView #profile textarea {
    min-height: 82px;
    width: 635px;
}

#settingsView #profile #lookingForRadio {
    margin: auto;
    grid-column: 3;
    grid-row: 3 / 5;
}

#settingsView #preferences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
}

#settingsView #preferences .checkbox-list {
    margin: auto 0;
}

#settingsView #housing {}

#settingsView .buttons {
    display: flex;
    justify-content: center;
}

#settingsView .buttons button {
    margin: 0 5px;
}

/* Display Pages Styling */
/* Display Container Styling */
.display-split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .display-user-block {
    margin-bottom: 40px;
    background-color: linen;
  }
  
  
  /* Display Styling (focused on housing) */
  .housing-dot {
    height: 10px;
    width: 10px;
    background-color: #F4D06F;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 8px;
  }
  
  #housing-images {
    width: 125;
    height: 126;
    border: 2px solid #7D7D7D;
    border-radius: 8px;
  }
  
  /* Styling for Both Displays */
  .left-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 0px
  }
  
  /* There's some issues with this container, but for now it works */
  .right-container { 
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 400px
  }
  
  .user-profile-image {
    box-sizing: border-box;
    width: 125px;
    height: 125px;
    position: absolute;
  
    background: rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }
  
  /* Flag Button Styling - temporary */
  .flag-user {
    width: 60px;
    height: 60px;
    /* background-color: #ffce5bcd;
    outline: 2px solid #ffce5b; */
    border-radius: 50%;
    border: none;
    margin-left: 7em;
    margin-top: 7em;
  }
  
  .flag-user:active {
    background-color:#c7c7c5;
    outline: 2px solid #a4a4a4;
  }
  
  /* User Profile Image Styling */
  .display-center-profile {
    margin-top: 20px;
    margin-left: 200px;
  }
  
  .user-profile-image {
    margin-top: 12em;
    margin-left: 7em;
  }
  
  .user-name {
   margin-top: 13em;
   margin-left: 17.25em;
  }
  
  .user-school {
    margin-top: 1em;
    margin-left: 17.5em;
  }
  
  /* convert to JS element */
  .user-school-info {
    margin: 10px;
  }
  
  #user-description-housing {
    width: fit-content;
    margin-top: 1em;
    margin-left: 4em;
    margin-bottom: 2em;
  }
  
  /* View Button Styling */
  .display-personal-button {
    /* width: 103px;
    height: 33px; */
    background-color: #F4D06F;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    display: inline;
  }
  
  /* Accept Button Styling */
  .accept-user {
    width: 60px;
    height: 60px;
    background-color: #7dd2afc8;
    outline: 2px solid #7DD2AE;
    border-radius: 50%;
    border: none;
    margin-left: 4em;
  }
  
  .accept-user:active {
    background-color: #72c1a0;
  }
  
  /* Reject Button Styling */
  .reject-user {
    width: 60px;
    height: 60px;
    background-color: #ff715bcd;
    outline: 2px solid #FF715B;
    border-radius: 50%;
    border: none;
    margin-left: 20em;
  }
  
  .reject-user:active {
    background-color: #e96652;
    outline: 2px solid #FF715B;
  }
  
  /* View Button Styling */
   .display-personal-button1 {
    width: 103px;
    height: 33px;
  }
  
  .be-vietnam-700 {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .user-about {
    margin-top: 7em;
    margin-bottom: 2em;
  }
  
  .display-personal-button {
    margin-top: 1em;
  }
  
  .user-accommodation {
    margin-bottom: 1em;
    display: flex;
  }
  
  .user-accommodation-left {
    position: relative;
    display: flex;
    flex: 0;
    justify-content: flex-start space-around;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1em;
  }
  
  .user-accommodation-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1em;
  }
  
  .user-acc-left-child {
    margin-bottom: 0.5em;
  }
  
  .user-acc-right-child {
    margin-bottom: 0.5em;
  }
  
  .user-house-rent {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
  }
  
  .view-inner-text .housing-dot{
    position: absolute;
    display: inline;
  }
  
  .view-list-element {
    position: relative;
    display: flex;
    justify-content: flex-start space-around;
  }
  
  .view-inner-text {
    margin-left: 8px;
  }
  
  .user-house-amenities {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
  }
  
  .user-house-notes {
    margin-bottom: 2em;
  }
  
  .housing-images {
    margin-top: 1em;
    margin-right: 1em;
  }
  
  
  
  /* Display Styling for DisplayRoommateHelper */
  .right-container-roommate {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 500px;
  }
  
  .user-about-roommate {
    margin-left: 4em;
    margin-top: 13em;
    margin-bottom: 2em;
  }
  
/* The landing container */
.landing-container {
    background-image: url('https://raw.githubusercontent.com/ashleybhandari/team-friendship/main/assets/landing.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the left */
    padding-left: 10%; /* Adjusted padding for left alignment */
}

/* Style for titles within the landing page */
.landing-container .title-find-your,
.landing-container .title-next-home {
    color: #FFFFFF; /* Assuming both titles are white */
    font-weight: bold; /* Assuming both titles are bold */
    text-align: left; /* Align the text to the left */
}

/* Smaller title "Find Your" */
.landing-container .title-find-your {
    font-size: 2rem;
    margin-bottom: 0;
}

/* Larger title "Next Home" */
.landing-container .title-next-home {
    font-size: 4rem;
    margin-top: 0;
}

/* Style for the Join button */
.landing-container .join-button {
    align-self: flex-start; /* Align the button to the left */
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: #FFD700; /* Yellow color */
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

/* Style for SignInView */

/* Styles for all input fields within .text-input in SignInView */
.sign-in-container .text-input input {
    border: 2px solid #ccc; /* Make border thicker */
}

/* Highlight all focused input fields within .text-input in SignInView */
.sign-in-container .text-input input:focus {
    outline: none; /* Remove default focus outline */
    border-color: #28a745; /* Green border for focused state */
    box-shadow: 0 0 3px #28a745; /* Add a subtle glow effect */
}

/* SignInView specific styles */
.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height to center vertically on the page */
    text-align: center;
    gap: 20px; /* This sets the vertical space between elements */
}

/* Style for the sign-up option */
.sign-up-option {
    margin-top: 20px;
    font-size: 0.9em;
    margin-bottom: 30px; /* Adds space below the 'Not a member? Sign up' */
}
